.app-grauphel #app-content {
    box-sizing: border-box;
    padding: 2ex;
}

.app-grauphel #app-content h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1ex;
}
.app-grauphel #app-content h2 {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 1ex;
    margin-top: 2ex;
}
.app-grauphel #app-content dt {
    font-weight: bold;
}
.app-grauphel #app-content dd {
    margin-left: 3ex;
}
.app-grauphel #app-content pre {
    margin: 1em;
    background-color: #DDD;
    padding: 1ex;
    font-family: monospace;
}

.app-grauphel #app-content ul {
    list-style-type: disc;
    margin-bottom: 1ex;
}
.app-grauphel #app-content li {
    margin-left: 4ex;
}
.app-grauphel #app-content a.lined {
    text-decoration: underline;
}
